---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import "../styles/global.css";
const pageTitle = "my Astroサイト";
const links = ["ホーム", "私について", "ブログ"];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">ホーム</a>
    <a href="/about/">私について</a>
    <a href="/blog/">ブログ</a>

    <h1>{pageTitle}</h1>
    <h2>このサイトの紹介</h2>
    <ul>
      {links.map((link) => <li>{link}</li>)}
    </ul>
  </body>
</html>

<style></style>
